<ion-view view-title="Add Note">
    <ion-nav-bar class="bar-gray">
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-close-empty" ui-sref="notes"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-checkmark-empty" ng-click="save()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <textarea placeholder="Your notes" style="width: 100%; height: 100px;"></textarea>
    </ion-content>
</ion-view>
