<ion-view view-title="{{note.name}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="update()"> &nbsp; Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-trash-outline" ng-click="confirmRemove()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <textarea placeholder="Your notes" style="width: 100%; height: 100px;"
            ng-model="note.body" ng-change="autoSave()"></textarea>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <button class="button button-clear pull-left icon-left ion-android-arrow-back" 
                ng-click="go('prev')" ng-hide="prev === null"> &nbsp; Prev</button>
        <button class="button button-clear pull-right icon-right ion-android-arrow-forward"
                ng-click="go('next')" ng-hide="next === null"> Next &nbsp; </button>
    </div>
</ion-view>
