<ion-view view-title="Your Notes">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-ios-information-outline" nav-transition="ios" ui-sref="notes-about"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon ion-ios-plus-empty" nav-transition="ios" ui-sref="notes-add"></a>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
    </div>
    <ion-content>
        <div class="list" style="margin-top: 40px;">
            <ion-item class="item-icon-left item-icon-right" 
                      ng-repeat="note in notes | filter:search | limitTo:30 track by note.id"
                      type="item-text-wrap" ui-sref="notes-detail({ noteId: note.id })">
                <i class="icon ion-ios-paper-outline"></i>
                <small>{{note.body | cut:true:20:' ...'}}</small>
                <span class="item-note">
                        {{note.modified_date | date}}
                    </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </div>
    </ion-content>
    <div class="tabs tabs-striped tabs-icon-left">
        <div class="tab-item" ng-class="{ active: (sortBy === 'body') }" ng-click="sortByTitle();">
            <i class="icon" ng-class="{ 'ion-ios-arrow-up': !reverse, 'ion-ios-arrow-down': reverse }" ng-hide="sortBy === 'modified_date'"></i> Sort by Title </div>
        <div class="tab-item" ng-class="{ active: (sortBy === 'modified_date') }" ng-click="sortByDate()">
            <i class="icon" ng-class="{ 'ion-ios-arrow-up': !reverse, 'ion-ios-arrow-down': reverse }" ng-hide="sortBy === 'body'"></i> Sort by Date </div>
    </div>
</ion-view>
