<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- By Modified Date Tab -->
  <ion-tab title="By Modified Date" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/byDate">
    <ion-nav-view name="tab-note-by-date"></ion-nav-view>
  </ion-tab>

  <!-- By First Line Tab -->
  <ion-tab title="By First Line" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/byLine">
    <ion-nav-view name="tab-note-by-line"></ion-nav-view>
  </ion-tab>


</ion-tabs>
